// Code generated by Fern. DO NOT EDIT.

package notes

import (
	context "context"
	http "net/http"

	orpcapi "github.com/joeblew999/orpc-api/sdk/go"
	core "github.com/joeblew999/orpc-api/sdk/go/core"
	internal "github.com/joeblew999/orpc-api/sdk/go/internal"
	option "github.com/joeblew999/orpc-api/sdk/go/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Example:
//
//	request := &orpcapi.ListNotesRequest{
//	    Cursor: orpcapi.String(
//	        "42",
//	    ),
//	    Limit: orpcapi.Int(
//	        20,
//	    ),
//	}
//	client.Notes.List(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) List(
	ctx context.Context,
	request *orpcapi.ListNotesRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *orpcapi.Note, *orpcapi.ListOutputBody], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"Base",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"Base",
		),
		"https://orpc-api-go.gedw99.workers.dev",
	)
	endpointURL := baseURL + "/api/notes"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(orpcapi.ErrorCodes),
		}
	}
	readPageResponse := func(response *orpcapi.ListOutputBody) *core.PageResponse[*string, *orpcapi.Note, *orpcapi.ListOutputBody] {
		var zeroValue *string
		next := response.GetNextCursor()
		results := response.GetData()
		return &core.PageResponse[*string, *orpcapi.Note, *orpcapi.ListOutputBody]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue || *next == "",
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Example:
//
//	request := &orpcapi.CreateInputBody{
//	    Body: "Buy milk",
//	}
//	client.Notes.Create(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Create(
	ctx context.Context,
	request *orpcapi.CreateInputBody,
	opts ...option.RequestOption,
) (*orpcapi.Note, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Each event's SSE id is the note id, so a browser EventSource resumes by itself (Last-Event-ID).
//
// Example:
//
//	request := &orpcapi.WatchNotesRequest{
//	    After: orpcapi.String(
//	        "42",
//	    ),
//	    Seconds: orpcapi.Int(
//	        30,
//	    ),
//	}
//	client.Notes.Watch(
//	    context.TODO(),
//	    request,
//	)
func (c *Client) Watch(
	ctx context.Context,
	request *orpcapi.WatchNotesRequest,
	opts ...option.RequestOption,
) (*core.Stream[orpcapi.Note], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		internal.ResolveEnvironmentBaseURL(
			options.Environment,
			"Base",
		),
		c.baseURL,
		internal.ResolveEnvironmentBaseURL(
			c.options.Environment,
			"Base",
		),
		"https://orpc-api-go.gedw99.workers.dev",
	)
	endpointURL := baseURL + "/api/notes/watch"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	if len(queryParams) > 0 {
		endpointURL += "?" + queryParams.Encode()
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	headers.Add("Accept", "text/event-stream")
	streamer := internal.NewStreamer[orpcapi.Note](c.caller)
	return streamer.StreamWithReconnect(
		ctx,
		&internal.StreamParams{
			URL:                        endpointURL,
			Method:                     http.MethodGet,
			Headers:                    headers,
			MaxAttempts:                options.MaxAttempts,
			DisableRetries:             options.DisableRetries,
			BodyProperties:             options.BodyProperties,
			QueryParameters:            options.QueryParameters,
			Client:                     options.HTTPClient,
			MaxBufSize:                 options.MaxBufSize,
			MaxStreamReconnectAttempts: options.MaxStreamReconnectAttempts,
			DisableStreamReconnection:  options.DisableStreamReconnection,
			Prefix:                     internal.DefaultSSEDataPrefix,
			Terminator:                 "[end-of-stream]",
			Format:                     core.StreamFormatSSE,
			ErrorDecoder:               internal.NewErrorDecoder(orpcapi.ErrorCodes),
		},
	)
}
